<% provide(:title, "Log In") %>
<% provide(:hide_header, true) %>

<section>
  <img id="logo" src="/logo.svg" alt="Prodaflow">
</section>

<section id="login-container">
<legend>Log In</legend>
<%= form_for(:session, url: login_path) do |f| %>
  <%= f.email_field :email, placeholder: 'Email' %>
  <%= f.password_field :password, placeholder: 'Password' %>

  <%= f.label :remember_me do %>
    <%= f.check_box :remember_me %>
    <span>Remember me</span>
  <% end %>

  <%= f.submit "Log In", class: 'wide-button' %>
  <div>
    <%= link_to 'Forgot password?', new_password_reset_path %>
  </div>
<% end %>
</section>

<section class="signup">
<p>New user? <%= link_to "Sign up now!", signup_path %></p>
</section>
